.chat-list-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-right: 1px solid #37373A;
}

.message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.message h2{
    color: white;
}
